{% load town_graphs_extras %}
<html>
    <head>

        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="/static/js/heatmap.js"></script>
        <script type="text/javascript" src="/static/js/heatmap-openlayers.js"></script>
    </head>

    <body>
          <div id="mapdiv"></div>
          
          <script>
            map = new OpenLayers.Map("mapdiv");
            var mapQuest = new OpenLayers.Layer.OSM("MapQuest", 
            [
                "http://otile1.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
                "http://otile2.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
                "http://otile3.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
                "http://otile4.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png"
            ],
            {
                attribution: "Data, imagery and map information provided by <a href='http://www.mapquest.com/'  target='_blank'>MapQuest</a>, <a href='http://www.openstreetmap.org/' target='_blank'>Open Street Map</a> and contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/' target='_blank'>CC-BY-SA</a>  <img src='http://developer.mapquest.com/content/osm/mq_logo.png' border='0'>",
                transitionEffect: "resize"
            });
            
            map.addLayer(mapQuest);
            var zoom=9;
            var position = new OpenLayers.LonLat(-2.5, 43)
                          .transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            map.getProjectionObject() // to Spherical Mercator Projection
                          );
            map.setCenter (position, zoom);
            map.addControl(new OpenLayers.Control.LayerSwitcher());
         
            var markers = new OpenLayers.Layer.Markers("Resultados por municipio");
            AutoSizeFramedCloud = OpenLayers.Class(OpenLayers.Popup.FramedCloud, { 'autoSize': true });
            
            var size = new OpenLayers.Size(20,23);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
            
            var testData = { "max": 100, "data": []};
            
            {% for municipio in municipios %}        
                {% if municipio.long != None and municipio.lat != None %}
                    var lonLat = new OpenLayers.LonLat({{municipio.long|stringformat:"f"}}, {{municipio.lat|stringformat:"f"}})
                          .transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            map.getProjectionObject() // to Spherical Mercator Projection
                          );
                    var contentString = '<div>{{municipio.name}} : {{municipio.long}} , {{municipio.lat}}</div>'
                    var popupClass = AutoSizeFramedCloud;
                    var popupContentHTML = contentString;
                          
                    var feature = new OpenLayers.Feature(markers, lonLat); 
                    feature.closeBox = true;
                    feature.popupClass = popupClass;
                    feature.data.popupContentHTML = popupContentHTML;
                    feature.data.overflow = "auto";
                    feature.data.icon = new OpenLayers.Icon('/static/icons/{{votos|get_partido_key:municipio.name|normalize_icons}}.png', size, offset);
                    var marker = feature.createMarker();

                    var markerClick = function (evt) {
                        if (this.popup == null) {
                            this.popup = this.createPopup(this.closeBox);
                            map.addPopup(this.popup);
                            this.popup.show();
                        } else {
                            this.popup.toggle();
                        }
                        currentPopup = this.popup;
                        OpenLayers.Event.stop(evt);
                    };
                    marker.events.register("mousedown", feature, markerClick);
                          
                    markers.addMarker(marker);
                    
                    testData.data.push({"lat": {{municipio.lat|stringformat:"f"}}, "lon": {{municipio.long|stringformat:"f"}}, "count": {{abstencion|get_key:municipio.name|stringformat:"f"}}});
                    //testData.data.push({"lat": {{municipio.lat|stringformat:"f"}}, "lon": {{municipio.long|stringformat:"f"}}, "count": 50});
                {% endif %}
            {% endfor %}

                          
            var wgsProjection  = new OpenLayers.Projection("EPSG:4326");
            
            var transformedTestData = { "max": testData.max , "data": [] };
            var data = testData.data;
            var datalen = data.length;
            var nudata = [];
            
            while(datalen--) {
                nudata.push( {
                  "lonlat": new OpenLayers.LonLat(data[datalen].lon, data[datalen].lat),
                  "count": data[datalen].count
                });

                transformedTestData.data = nudata;
            };
            
            var heatmap = new OpenLayers.Layer.Heatmap( "heatmap", map, mapQuest, {visible: true, radius:25}, {isBaseLayer: false, opacity: 1, projection: wgsProjection});
    
            map.addLayer(heatmap);
            
            heatmap.setDataSet(transformedTestData);
            map.addLayer(markers);   
            
      </script>
          
          {{abstencion}}
          
    </body>
</html>
