<html>
    <head>

        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    </head>

    <body>
          <div id="mapdiv"></div>
          
          <script>
            map = new OpenLayers.Map("mapdiv");
            map.addLayer(new OpenLayers.Layer.OSM());
         
            var markers = new OpenLayers.Layer.Markers( "Markers" );
            AutoSizeFramedCloud = OpenLayers.Class(OpenLayers.Popup.FramedCloud, { 'autoSize': true });
            var zoom=2;
            
            {% for municipio in municipios %}        
                {% if municipio.long != None and municipio.lat != None %}
                    var lonLat = new OpenLayers.LonLat({{municipio.long|stringformat:"f"}}, {{municipio.lat|stringformat:"f"}})
                          .transform(
                            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                            map.getProjectionObject() // to Spherical Mercator Projection
                          );
                    var contentString = '<div>{{municipio.name}} : {{municipio.long}} , {{municipio.lat}}</div>'
                    var popupClass = AutoSizeFramedCloud;
                    var popupContentHTML = contentString;
                          
                    var feature = new OpenLayers.Feature(markers, lonLat); 
                    feature.closeBox = true;
                    feature.popupClass = popupClass;
                    feature.data.popupContentHTML = popupContentHTML;
                    feature.data.overflow = "auto";
                          
                    var marker = feature.createMarker();

                    var markerClick = function (evt) {
                        if (this.popup == null) {
                            this.popup = this.createPopup(this.closeBox);
                            map.addPopup(this.popup);
                            this.popup.show();
                        } else {
                            this.popup.toggle();
                        }
                        currentPopup = this.popup;
                        OpenLayers.Event.stop(evt);
                    };
                    marker.events.register("mousedown", feature, markerClick);
                          
                    markers.addMarker(marker);
                {% endif %}
            {% endfor %}
           
           map.addLayer(markers);
         
            map.setCenter (lonLat, zoom);
      </script>
          
    </body>
</html>
